<%= form_for @list do |f| %>
  <%= content_tag :div, class: 'alert-box radius alert' do %>
    <h4><%= pluralize @list.errors.count, 'error' %> kept this form from submitting:</h4>
    <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end if @list.errors.any? %>
  <div class="columns">
    1st: <%= f.text_field :movie_one %>
    <% if current_user.has_role?(:admin) %>
      <%= f.label "1st Place points" %>
      <%= f.text_field :movie_one_points, :placeholder => "0" %>
    <% end %>

    2nd: <%= f.text_field :movie_two %>
    <% if current_user.has_role?(:admin) %>
      <%= f.label "2nd Place points" %>
      <%= f.text_field :movie_two_points, :placeholder => "0" %>
    <% end %>

    3rd: <%= f.text_field :movie_three %>
    <% if current_user.has_role?(:admin) %>
      <%= f.label "3rd Place points" %>
      <%= f.text_field :movie_three_points, :placeholder => "0" %>
    <% end %>

    <div class="row">
      <div class="medium-6 columns">
        <%= f.submit "Update your list", class: 'button radius expand' %>
      </div>
    </div>
  </div>
<% end %>
