<h3><%= current_user.name %>'s list</h3>
<div class="medium-8 columns">
	1st: <%= list.movie_one %>
</div>
<div class="medium-4 columns">
	Points: <%= list.movie_one_points %>
</div>

<div class="medium-8 columns">
	2nd: <%= list.movie_two %>
</div>
<div class="medium-4 columns">
	Points: <%= list.movie_two_points %>
</div>

<div class="medium-8 columns">
	3rd: <%= list.movie_three %>
</div>
<div class="medium-4 columns">
	Points: <%= list.movie_three_points %>
</div>

<div class="medium-8 columns">
	4th: <%= list.movie_four %>
</div>
<div class="medium-4 columns">
	Points: <%= list.movie_four_points %>
</div>

<div class="medium-8 columns">
	5th: <%= list.movie_five %>
</div>
<div class="medium-4 columns">
	Points: <%= list.movie_five_points %>
</div>

<div class="medium-8 columns">
	6th: <%= list.movie_six %>
</div>
<div class="medium-4 columns">
	Points: <%= list.movie_six_points %>
</div>

<div class="medium-8 columns">
	7th: <%= list.movie_seven %>
</div>
<div class="medium-4 columns">
	Points: <%= list.movie_seven_points %>
</div>

<div class="medium-8 columns">
	8th: <%= list.movie_eight %>
</div>
<div class="medium-4 columns">
	Points: <%= list.movie_eight_points %>
</div>

<div class="medium-8 columns">
	9th: <%= list.movie_nine %>
</div>
<div class="medium-4 columns">
	Points: <%= list.movie_nine_points %>
</div>

<div class="medium-8 columns">
	10th: <%= list.movie_ten %>
</div>
<div class="medium-4 columns">
	Points: <%= list.movie_ten_points %>
</div>

<p>
darkhorse 1: <%= list.movie_darkhorse_one %> <br/>
darkhorse 2: <%= list.movie_darkhorse_two %> <br/>
darkhorse 3: <%= list.movie_darkhorse_three %> <br/>

<% if @lists.count > 0 %>
  <%= link_to "Update your list", edit_list_path(list), class: "button radius" %>
<% else %>
  <%= link_to "Create a new list", new_list_path, class: "button radius" %>
<% end %>
