<% content_for :title, "Sign In" %>

<section>
  <div class="medium-6 columns">
    <h2>Sign in</h2>
    <%= form_tag "/auth/identity/callback" do %>
      <%= label_tag :auth_key, "Wavetronix Email" %>
      <%= email_field_tag :auth_key %>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <%= submit_tag "Sign In", class: "button radius" %>
    <% end %>
  </div>
  <div class="medium-6 columns">
    <h2>Don't have an account?</h2>
    <p>In order to make and edit your movie list, you'll need to create an account. Don't worry, it's mostly painless.</p>
    <%= button_to "Create your account", new_identity_path, class: "button radius", method: :get %>
  </div>
</section>
