<%= form_for @movie do |f| %>
  <%= content_tag :div, class: "alert-box alert" do %>
    <h4><%= pluralize @movie.errors.count, "error" %> kept this form from submitting:</h4>
    <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end if @movie.errors.any? %>
  <%= f.label "Movie number" %><small>To find this, go to the page on IMDB for the movie. In the URL after "tt" will be the number. For example, Warcraft is 0803096</small>
  <%= f.text_field :movie_name %>
  <%= f.label :movie_poster %>
  <%= f.text_field :movie_poster %>
  <%= f.label :boxoffice_earnings %>
  <%= f.number_field :boxoffice_earnings %>
  <%= f.submit nil, class: "button radius" %>
<% end %>
