<%= form_for @movie, :html => {:multipart => true} do |f| %>
  <% if @movie.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize @movie.errors.count, "error" %> prohibited this movie from being saved:</h2>
    <ul>
    <% @movie.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <h4><%= f.label :title %></h4>
  <p><%= f.text_field :title %></p>

  <h4><%= f.label "Movie Poster" %></h4>
  <p><%= f.file_field :artwork %></p>

  <h4><%= f.label :released_on %></h4>
  <p><%= f.text_field :released_on, placeholder: "yyyy-mm-dd" %></p>

  <h4><%= f.label :imdb_link %></h4>
  <p><%= f.text_field :imdb_link %></p>

  <h4><%= f.label :box_office_earnings %></h4>
  <p><%= f.text_field :box_office_earnings %></p>

  <p><%= f.submit :class => 'button default' %></p>
<% end %>
