<%= content_for :title, @movie.movie_name %>
<% i = Imdb::Movie.new("#{@movie.movie_name}") %>
<h1><%= i.title %></h1>


<div class="row">
  <div class="medium-4 columns">
    <%= image_tag @movie.movie_poster, alt: i.title %>
  </div>
  <div class="medium-8 columns">
    <%= content_tag :p do %>
      <strong>Description:</strong> <br/>
      <%= i.plot_summary %>
    <% end %>
    <strong>Release date:</strong> <%= i.release_date %>
    <%= content_tag :p do %>
      <strong>Trailer link:</strong> <%= link_to i.trailer_url, target: "_blank"%>
    <% end if i.trailer_url.present?%>
    <%= content_tag :p do %>
      <strong>Box office earnings:</strong> <%= number_to_currency @movie.boxoffice_earnings, precision: 0 %>
    <% end if @movie.boxoffice_earnings > 0 %>
    <% if current_user.has_role?(:admin) %>
      <p>
        <%= link_to edit_movie_path(@movie), class: "button radius" do %>
          <span class="fa fa-pencil"></span>
          Edit
        <% end %>
        <%= link_to movie_path(@movie), data: {confirm: %Q[Are you sure you want to delete #{i.title}? This cannot be undone!]}, method: :delete, class: "button radius alert" do %>
        <span class="fa fa-trash"></span>
        Delete
        <% end %>
      <% end %>
    </p>
  </div>
</div>
