<%= content_for :title, @movie.movie_name %>
<h1><%= @movie.movie_name %></h1>
<div class="row">
  <div class="medium-4 columns">
    <%= image_tag @movie.movie_poster, alt: @movie.movie_name %>
  </div>
  <div class="medium-8 columns">
    <%= content_tag :p do %>
      <strong>Description:</strong> <br/>
      <%= @movie.movie_description %>
    <% end if @movie.movie_description.present? %>
    <strong>Release date:</strong> <%= @movie.release_date.to_s :short %>
    <%= content_tag :p do %>
      <strong>IMDB link:</strong> <%= link_to @movie.imdb_url, target: "_blank"%>
    <% end if @movie.imdb_url.present? %>
    <%= content_tag :p do %>
      <strong>Box office earnings:</strong> <%= number_to_currency @movie.boxoffice_earnings, precision: 0 %>
    <% end if @movie.boxoffice_earnings > 0 %>
    <p>
      <%= link_to edit_movie_path(@movie), class: "button radius" do %>
        <span class="fa fa-pencil"></span>
        Edit
      <% end %>
      <%= link_to movie_path(@movie), data: {confirm: %Q[Are you sure you want to delete #{@movie.movie_name}? This cannot be undone!]}, method: :delete, class: "button radius alert" do %>
      <span class="fa fa-trash"></span>
      Delete
      <% end %>
    </p>
  </div>
</div>
