<% content_for :title, "#{@user.name}'s list" %>

<h1><%= @user.name %>'s List</h1>
<h3><%= pluralize(@user.lists.count, "list") %> with <%= @user.lists.all.map(&:total_points).sum %> people</b></p>

<% @user.lists.each do |list| %>
  <div class="row panel list-panel">
    <div class="medium-8 columns">
      <h3><%= current_user.name %> list</h3>
      On August 1st, the <%= list.list_name %> list will have a total of <%= pluralize(list.total_list_members, "member") %>.
      <% if list.movie_one && list.movie_one > 0 %>
        list 1 = <%= list.movie_one %><br/>
      <% end %>
    </div>
    <div class="medium-4 text-right columns">
      <%= button_to "Edit the list", edit_list_path(list), class: "button radius", method: :get %>
      <%= button_to "Delete the list", list_path(list), class: "button radius alert tiny", data: { confirm: %(Are you sure you want to delete the list? This cannot be undone.) }, method: :delete %>
    </div>
  </div>
<% end %>
