<% content_for :title, "Register your family" %>
<h2>Create a new account</h2>
<p>Please enter your information below.</p>

<div class="row">
  <%= form_tag "/auth/identity/register" do %>
    <% if @identity && @identity.errors.any? %>
      <div class="error_messages">
        <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
        <ul>
        <% @identity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="medium-6 columns">
      <%= label_tag "Your first name" %>
      <%= text_field_tag :first_name, @identity.try(:first_name) %>
    </div>

    <div class="medium-6 columns">
      <%= label_tag "Your last name" %>
      <%= text_field_tag :last_name, @identity.try(:last_name) %>
    </div>

    <div class="columns">
    <%= label_tag "Your email" %>
    <%= email_field_tag :email, @identity.try(:email) %>
    </div>

    <div class="medium-6 columns">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="medium-6 columns">
      <%= label_tag :password_confirmation %>
      <%= password_field_tag :password_confirmation %>
    </div>

    <div class="columns">
      <%= submit_tag "Submit and sign in", class: "button radius" %>
    </div>
  <% end %>
</div>