<header>
	<div class="header-title">
		<p>Summer Movie Game</p>
	</div>
	<hr/>
	<% if current_user %>
		<ul>
		  <li><%= link_to "movies", movies_path %></li>
		  <li><%= link_to "my list", root_path %></li>
		  <li><%= link_to "all lists", root_path %></li>
		  <li>
		  	<% if current_user %>
		  		<%= current_user.name %>
		  	<% else %>
		  		<%= link_to "sign in", root_path %>
		  	<% end %>
		  </li>
		</ul>
		<hr/>
	<% end %>
</header>