<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title><%= full_title yield(:title) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="https://use.typekit.net/hof6dea.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>

  <body>
    <div class="main-container row">
      <div class="main">
        <%= render "site_header" %>
        <div class="large-12 columns">
          <%= yield %>
        </div>
      </div>
      <div class="columns">
      <%= render "site_footer" %>
      </div>
    </div>
  </body>
</html>
